@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card-bg);
  --color-border: var(--border);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  /* Premium Dark Theme Palette */
  --background: #0a0a0a;
  --foreground: #ededed;

  /* Accents */
  --primary: #d4af37;
  /* Metallic Gold */
  --primary-hover: #b5952f;
  --secondary: #1a1a1a;
  --accent: #E0E0E0;

  /* UI Elements */
  --card-bg: #141414;
  --border: #333333;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}